.title {
    text-align: center;
}

#logo {
    text-align: center;
    display: block;
}

.signup {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
}

.errorlist {
    background: rgb(255, 95, 95);
    width: 18em;
    margin: 0px auto 5px auto;
    padding: 5px 0px 5px 0px;
    list-style-type: none;
}

.alert-success {
    width: 18em;
    margin: auto;
    text-align: center;
    background: #c8e5bc;
    color: #000;
}
